<div class="container">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <app-logo></app-logo>
          <h1 class="lead">WeiGoo</h1>
          <p class="lead">想來體驗看看選股的魅力嗎？</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default">登入</a>
          </p>
        </div>
        <div class="mastfoot">
          2017 瑋哥選股系統 版權所有
        </div>
      </div>
    </div>
  </div>
</div>